/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1380px;
  width: 60%;
  margin: 0 auto;
}

.padding{
  padding: 30px 0;
}

/*DEBUG*/
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

/*HEADER*/

header{
  display: flex;
  height: 80px;
  background-color: #0084FD;
}

header .container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.desktop ul{
  display: flex;
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
}

/*JUMBOTRON*/

.jumbotron .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jumbotron .card{
  background-color: #B5DDFF;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.jumbotron .card:nth-child(1){
  width: 60%;
  height: 200px;
}

.jumbotron .card:nth-child(2),
.jumbotron .card:nth-child(3),
.jumbotron .card:nth-child(4),
.jumbotron .card:nth-child(5){
  width:30%;
  height: 200px;
}

/*JUMBOTRON DOWM "STRATEGIC PLANNING"*/
.jumbo-down{
  background-color: #9792E4;
  height: 300px;
}

.jumbo-down .image{
  width: calc(100% / 2);
}

/*TESTIMONIALS BOX*/
.testimonials .container{
  flex-direction: column;
  text-align: center;
}

.profile img{
  width: 15%;
  border-radius: 50%;
  float: left;
}

.testimonials .box {
  background-color: #9792E4;
  border-radius: 20px;
}

/*BENEFITS PANEL*/
.benefits{
  background-color: #9792E4;
}
.benefits .container{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us-dx img{
  width: 30%;
  border-radius: 50%;
}

.about-us-sx{
  width: 60%;
  padding-right: 40px;
}

.about-us-dx{
  width: 40%;
}

.panel{
  width: 200px;
}

/*FOOTER*/
.f-menu{
  background-color: #333333;
  color: white;
}

.f-menu .container{
  text-align: center;
}

.f-top,
.f-bottom {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}



/*MEDIA QUERY*/

/*MOBILE*/
@media screen and (max-width:479px) {
  .desktop{
    display: none;
  }

  .jumbotron .row{
    flex-direction: column;
    align-items: center;
  }

  .jumbo-down .container{
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .benefits .container{
    display: block;
  }

  .profile img{
    float:none;
  }

  .about-us .container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .jumbotron .card:nth-child(1),
  .jumbotron .card:nth-child(2),
  .jumbotron .card:nth-child(3),
  .jumbotron .card:nth-child(4),
  .jumbotron .card:nth-child(5){
    width: 100%;
  }
}

/*GET STARTED*/
.started{
  background-color: #9792E4;
}

.started .container{
  text-align: center;
}

/*TABLET*/
@media screen and (max-width:768px) {
  .desktop{
    display: none;
  }
}

/*DESKTOP*/
@media screen and (min-width:768px){
  .mobile{
    display: none;
  }
}